.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.container1  {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-subtext {
    color:#E5E7EB;
    font-size: 18px;
}

.btn {
    display: flex;
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    padding: 12px;
    border-radius: 8px;
    margin: 12px
}

.container2 {
    display: flex;
    flex-direction: column;
}

.session-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 24px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 16px;
}

.card {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 150px;
    height: 150px;
    display: flex;
    border: 1px solid #3882F6;
    border-radius: 8px;
}

.card p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: flex-start;
    padding: 160px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {    
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.container4 {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 24px auto;
}

.cta-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.call-to-action {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}

.cta-text p {
    color: #E5E7EB;
    padding: 16px;
}

.btn-outline {
    display: flex;
    flex-basis: auto;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 12px;
    margin: 12px
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 24px;
}